body {
	margin: 0;
	height: auto;
	background-color: darkgrey;
}

img {
	max-width: 100%;
}

header {
	max-width: 900px;
	margin: auto;
	background-color: white;
	height: 1000px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#main_title {
	font-size: 12px;
	margin-left: 50px;
}

#main_image {
	padding-left: 52px;
	height: 800px;
}

#dunes {
	height: 1000px;
}

#main_subtitle {
	float: left;
	font-size: 12px;
}












.centered {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
}