* {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	height: auto;
	background-color: rgb(238, 238, 238);
}

img {
	max-width: 100%;
}

header {
	max-width: 900px;
	margin: auto;
	background-color: white;
	height: 1000px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#subcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin-right: 100px;
	margin-left: 130px;
}

#main_title {
	font-size: 12px;
	text-align: center;
}

#main_subtitle {
	text-align: center;
	margin-top: 10px;
}

#main_image {
	padding-left: 52px;
	height: 800px;
}

#dunes {
	height: 1000px;
}

#main_subtitle {
	float: left;
	font-size: 12px;
	color: rgb(81, 81, 81);
}

#div1 {
	background-color: cadetblue;
	height: 100px;
	width: 900px;
	margin: auto;
	line-height: 100px;
}

#our_work {
	text-align: center;
	color: white;
}

.centered {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 900px;
}

.desc_divs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	height: 100px;
	width: 900px;
	margin: auto;
	line-height: 50px;
}

.subtitles {
	text-align: center;
	color: black;
}

.comments {
	text-align: center;
	color: black;
	font-size: 20px;
}

#Contact_Us {
	margin-top: 30px;
	text-align: center;
	color: black;
	font-size: 30px;	
}

#email {
	margin-top: 5px;
	text-align: center;
	color: black;
	font-size: 16px;	
}
#phone {
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
	font-size: 16px;	
}